@tailwind components;


@layer components{
    .registerHeader{
        background-image: url("../../assets/background.png");
        background-size:cover;
        @apply flex flex-col items-center 
    }

    .registerHeader img{
        @apply lg:w-[35%] mt-10
    }

    .registerHeader p{
        @apply font-opensans text-[#475569] text-center text-sm md:text-base mt-10
        px-10 md:px-0
    }

    .registerContainerForm{
        @apply flex items-center justify-center mt-10 pb-10
    } 

    .registerFormWrapper{
        @apply relative  w-full flex items-center justify-center px-2 md:px-10 lg:px-0
    }

   

    .registerForm{
        @apply border w-[600px] flex flex-col 
        p-5 md:p-10 rounded-lg bg-white relative
    }

    .registerFormHeader{
        @apply flex items-center flex-col
    }


    .registerForm h1{
        @apply text-[#11385D] text-xl text-center
         font-bold font-montserrat
    }

    .registerForm .ant-col{
        @apply font-opensans text-[#334155] font-semibold
    }

    .registerForm .ant-input{
        @apply  font-opensans text-[#334155] 
        font-semibold p-2 
    }

    
    .registerForm .ant-select{
        @apply  font-opensans text-[#334155] 
        font-semibold h-[40px] 
    }

   


    .waveBackground{
        @apply absolute
    }

    


    .emailForm{
        @apply border w-[600px] flex flex-col 
        p-10 rounded-lg bg-white font-opensans
        text-center  
    }

    .emailForm .ant-input{
        @apply h-[50px] p-3 mt-5 font-bold text-lg font-opensans
    }


    .emailForm h2{
        @apply font-montserrat text-[#11385D] text-xl font-bold
    }

    .emailForm p{
        @apply text-[#334155] text-sm font-semibold mt-3
    }


    .emailFormBox{
        @apply flex flex-col gap-10 items-center
    }

    .emailFormBtn{
        @apply flex flex-col gap-2 w-full 
    }


    .emailFormBtn .btn1{
        @apply text-[#11385D] w-full font-opensans 
        h-[40px] text-sm font-semibold tracking-wide hover:tracking-widest duration-200
    }

 
    
    .emailFormBtn .btn2{
        @apply bg-[#11385D] w-full font-opensans 
        h-[40px] text-sm font-semibold tracking-wide hover:bg-gray-400
    }


    .emailFormBtn .btn2:hover{
        background-color: #F1F5F9 !important;
        color: #11385D !important;
        border: 1px solid #11385D !important ;
    }


    .congratsForm{
        @apply border w-[700px] flex flex-col 
        p-10 rounded-lg bg-white font-opensans
        text-center my-20 items-center gap-5 
    }

    .congratsForm .check{
        @apply w-[70px]
    }

    .congratsForm h2{
        @apply font-montserrat text-[#11385D] font-bold text-2xl
    }

    .congratsForm h4{
        @apply font-opensans text-[#334155] text-base font-semibold
    }


    .congratsForm .btn2{
        @apply bg-[#11385D] w-full font-opensans 
        h-[40px] text-sm font-semibold tracking-wide hover:bg-gray-400
    }

    .qrcodeBox{
        @apply flex flex-col gap-4 items-center
    }

    .qrcodeBox .ant-btn{
        @apply border-0 bg-[#E2EEF3] text-[#27638D]
        font-opensans flex items-center text-xs font-medium
    }

    .qrcodeImage{
        @apply border-[#27638D]  p-1
         border rounded-md
    }


 

  


}