@tailwind components;



@layer components {
    .airForceHeaderContainer{
        /* background-image: url("../../assets/blue-background.svg"); */
        background: linear-gradient(98deg, #27638d, #6ba1be, #386076);
        background-size: 600% 600%;
    
        -webkit-animation: AnimationName 18s ease infinite;
        animation: AnimationName 18s ease infinite;
        @apply relative flex flex-col items-center p-10 text-white  
    }

    @-webkit-keyframes AnimationName {
        0%{background-position:0% 77%}
        50%{background-position:100% 24%}
        100%{background-position:0% 77%}
    }
    @keyframes AnimationName {
        0%{background-position:0% 77%}
        50%{background-position:100% 24%}
        100%{background-position:0% 77%}
    }
    .airForceHeaderContainer .image1{
        @apply absolute right-0 top-0 -mt-32
    }

    .airForceHeaderContainer .image2{
        @apply absolute left-0 bottom-0
    }

    .airForceHeaderContainer .image3{
        box-shadow: -10px 10px 0px #fff;
        @apply mt-10 w-[500px]
    }

    .airForceHeaderContainer .ant-image-mask{
        @apply mt-10 lg:w-[500px]
    }

    .airForceHeaderContainer h1{
        @apply border-4 p-3  font-montserrat font-bold
        text-base md:text-2xl lg:text-3xl md:mt-10 text-center
    }

    .airForceHeaderContainer p{
        @apply font-opensans text-center mt-10 lg:w-[80%]
        text-xs md:text-sm lg:text-base
    }

    .af-countDownBox{
        @apply mt-10
    }
    
    .af-countDownCard{
        @apply flex gap-2 md:gap-5 
    }

    .af-countDownCard span{
        @apply  flex flex-col items-center bg-[#ffffff13]  w-[70px] lg:w-[100px] p-1 md:p-3
        border-b-4
    }

    .af-countDownCard span h3{
        @apply font-montserrat font-bold 
        text-sm lg:text-lg
    }
    .af-countDownCard span h5{
        @apply font-opensans font-medium lg:text-sm uppercase
        text-xs
    }

    .af-countdownItem {
        transition: border-color 0.3s ease;
      }



    .speakersContainer{
        @apply flex flex-col items-center p-10 pt-20 pb-20 relative
    }

    .speakersContainer .image1{
        @apply w-[70%]
    }

    .speakersContainer .image2{
        @apply absolute -z-10 top-[30%]
    }


    .speakersContainer h1{
        @apply border-4 border-[#27638D] p-3  font-montserrat font-bold
        mt-10 text-[#27638D]   text-base md:text-2xl lg:text-3xl
    }

    .speakersContainer p{
        @apply bg-[#E2EEF3]  text-center p-2 w-full lg:w-[70%]
        border-b-2 font-opensans font-bold text-[#334155] my-10 
    }

    .programContainer{
        /* background-image: url("../../assets/blue-background.svg"); */
        background: linear-gradient(98deg, #27638d, #6ba1be, #386076);
        background-size: 600% 600%;
    
        -webkit-animation: AnimationName 18s ease infinite;
        animation: AnimationName 18s ease infinite;
        @apply flex flex-col items-center bg-cover pt-20
        gap-10 pb-20  relative
    }

    .programContainer .blueWave1{
        @apply absolute right-0 top-0 -mt-32
    }

    .programContainer .blueWave2{
        @apply absolute left-0 bottom-0
    }

    .programContainer h1{
        @apply border-4 p-3  font-montserrat font-bold
        md:mt-10 border-[#fff] text-white text-base md:text-2xl lg:text-3xl
    }

    .programImageBox{
        @apply flex w-full items-center justify-center flex-col lg:flex-row
    }

    .programImageBox .image{
        @apply w-[300px] md:w-[600px]
    }

    
    .programImageBox .ant-image-mask{
        @apply  md:w-[600px]
    }

    .osContainer{
        @apply flex items-center lg:p-40 justify-center
        gap-20 flex-col py-10 lg:flex-row
    }

    .osWrapper1{
        @apply flex items-start 
    }

    .osWrapper1 span{
        @apply flex flex-col items-center 
        gap-4 lg:items-start
    }

    .osWrapper1 span h2{
        @apply text-[#27638D] font-montserrat font-bold 
        text-center mt-10 lg:mt-0 lg:text-start text-base md:text-2xl lg:text-3xl
    }

    .osWrapper1 span p{
        @apply font-opensans text-xs md:text-sm
    }

    .osWrapper1 .registerLink{
        text-decoration: none;
        @apply flex items-center font-opensans text-[#27638D]
        font-semibold border-[#27638D] border-2 p-3 text-xs md:text-sm
        hover:bg-[#27638D] hover:text-white duration-200
    }

    .osWrapper2{
        @apply relative flex items-center justify-center text-white
    }

    .osWrapper2 img{
        @apply w-[700px]
    }

}