@tailwind components;



@layer components {
    .contactContainer{
        @apply flex flex-col font-opensans 
    }


    .contactHeader{
        background: linear-gradient(98deg, #27638d, #6ba1be, #386076);
        background-size: 600% 600%;
    
        -webkit-animation: AnimationName 18s ease infinite;
        animation: AnimationName 18s ease infinite;
        @apply h-[60vh] flex flex-col items-center text-white w-full
    }

    .contactHeader h1{
        @apply border-4 p-3  font-montserrat font-bold
        md:mt-10 border-[#fff] text-white text-base md:text-2xl lg:text-3xl
    }

    .contactHeader p{
        @apply font-opensans text-sm text-center mt-10
    }


    .contactWrapper{
        @apply bg-white  w-full flex items-center justify-center pb-20
    }


    .contactBox{
        box-shadow:0px 0px 10px #00000037;
        @apply bg-white h-[400px] w-[70%] flex -mt-40 justify-between p-5
    }


    .contactBox .ant-image-img{
        @apply h-full
    }
    .contactDetails{
        @apply flex flex-col justify-between text-[#27638D] p-10
    }

    .contactDetails span{
        @apply leading-3
    }

    .contactDetails span h3{
        @apply text-[1.5rem] font-semibold
    }

    .contactDetails span p{
        @apply flex items-center text-sm gap-2 
    }


    .contactDetails span p a{
        @apply text-[#27638D] text-xl
    }

    @-webkit-keyframes AnimationName {
        0%{background-position:0% 77%}
        50%{background-position:100% 24%}
        100%{background-position:0% 77%}
    }
    @keyframes AnimationName {
        0%{background-position:0% 77%}
        50%{background-position:100% 24%}
        100%{background-position:0% 77%}
    }



}