@tailwind components;



@layer components {
    .contactContainer{
        @apply flex flex-col font-opensans 
    }


    .contactHeader{
        background: linear-gradient(98deg, #27638d, #6ba1be, #386076);
        background-size: 600% 600%;
    
        -webkit-animation: AnimationName 18s ease infinite;
        animation: AnimationName 18s ease infinite;
        @apply h-[60vh] flex flex-col
         items-center text-white w-full pt-10
    }

    .contactHeader h1{
        @apply border-4 p-3  font-montserrat font-bold
        md:mt-10 border-[#fff] text-white text-base 
        md:text-2xl lg:text-3xl lg:mt-0 
    }

    .contactHeader p{
        @apply font-opensans text-sm text-center mt-10
    }


    .contactWrapper{
        @apply bg-white 
         w-full flex items-center justify-center pb-20 
        
    }

    .contactBoxWrapper{
        @apply bg-white  w-[85%] flex flex-col justify-center 
        -mt-40   shadow-lg xl:h-[450px] lg:flex-row
    }

    .contactBox{
        @apply  lg:w-[30%] h-full p-10
    }

    .contactBoxMap{
        @apply  lg:w-[50%] h-full p-5
    }

    .contactBoxTitle{
        @apply text-[#27638D] text-xl font-bold
    }


    .contactCard{
        @apply mt-10
    }

    .contactCard h4{
        @apply text-[#27638D] text-sm font-bold
    }

    .contactCard p{
        @apply flex text-xs items-center gap-2 text-[#334155]
    }

    .contactCard svg{
        @apply text-[#27638D]
    }


    .contactCardDetail{
        @apply flex flex-col gap-1 mb-3
    }

    .contactCardDetail span{
        @apply flex text-xs items-center gap-2
    }

    .socialBox {
        @apply flex gap-2
    }

    .socialBox a{
        @apply  text-[#27638D] text-lg font-bold
    }


    @-webkit-keyframes AnimationName {
        0%{background-position:0% 77%}
        50%{background-position:100% 24%}
        100%{background-position:0% 77%}
    }
    @keyframes AnimationName {
        0%{background-position:0% 77%}
        50%{background-position:100% 24%}
        100%{background-position:0% 77%}
    }



}